.theYearWeMakeContact
  %button.toggleBtn Push me
  .contactForm.hide
    .messageBox.hide
      Your message was sent successfully!
    = form_tag "contact/create" do
      .row
        = label_tag "Email:"
        = text_field_tag :email
      .row
        = label_tag "Message:"
        = text_area_tag :message
      = submit_tag "Send"
